.header__btn {
  /* p1_regular */
  color: rgb(255, 255, 255);
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: left;
  background: none;
  border: none;
  cursor: url(../../../images/pointer.svg) 1 1, default;
  transition-duration: 0.4s;
}

.header__btn:hover {
  /* p1_regular */
  color: rgb(186, 226, 73);
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0%;
}

.header__btn:focus {
  border: 1px solid rgb(131, 164, 64);
}

.header__btn:active {
  /* p1_regular */
  color: rgb(104, 139, 5);
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0%;
}
