.box__btn {
  /* p1_bold */
  background: url(../../../images/box_right.svg) 100% 100% no-repeat;
  background-position: top 5px left 130px;
  color: rgb(11, 25, 25);
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
  border: none;
  margin-left: 9px;
  margin-bottom: 23px;
  width: 190px;
  cursor: url(../../../images/pointer__black.svg) 1 1, default;
  transition-duration: 0.4s;
}

.box__btn:hover {
  background: url(../../../images/box__right_hover.png) 100% 100% no-repeat;
  background-position: top 5px left 130px;
  color: rgb(104, 139, 5);
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
}

.box__btn:focus {
  border: 1px solid rgb(131, 164, 64);
}
